/* styles.css */
.galaxy-background {
  background: radial-gradient(circle, #2a0481, #020024, #090979, #000000);
  position: relative;
  overflow: hidden;
}

.galaxy-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  background-image: radial-gradient(circle at 20% 50%, rgba(255, 255, 255, 0.1) 2px, transparent 1%),
                    radial-gradient(circle at 80% 50%, rgba(255, 255, 255, 0.1) 2px, transparent 1%),
                    radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0.1) 2px, transparent 1%);
  background-size: 3px 3px;
  z-index: 1;
}
